@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

:root {
  --primary:#008080;
  --secondary: #FABB2A;
  --accent: #43a047;
  --text-color: #333;
  --bg-color: #f8f9fa;
}

/* Optional: Apply page background + default text color */
body {
  background: var(--bg-color);
  color: var(--text-color);
}

@layer components{
  .primary-btn{
    @apply px-8 py-3 my-5 rounded-full text-white font-semibold 
bg-gray-600
hover:from-black hover:to-yellow-500 
shadow-lg hover:shadow-xl transition-all duration-300 hover:text-white;

  }
}
 
body{
  @apply bg-gray-100;
}

body{
  font-family: "poppins", sans-serif;
}
body p{
   font-family: "Poppins", sans-serif;

}

ul{
     font-family: "Roboto", sans-serif;
}

@keyframes gradient-x {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s linear infinite;
}
